requests==2.22.0
cognitojwt==1.1.0
boto3==1.10.34
elasticsearch = ">=7.0.0,<8.0.0"
SQLAlchemy = "^1.4.32"
aiomysql = "^0.0.22"
gspread = "^5.2.0"
mangum = "^0.14.1"
strawberry-graphql = {extras = ["fastapi"], version = "^0.103.9"}
pydantic = "^1.9.0"
firebase-admin = "^5.2.0"
boto3 = "^1.21.27"
aws-lambda-powertools = "^1.25.10"
awscli = "^1.22.87"
env = "^0.1.0"
elasticsearch-dsl = "^7.4.0"
lorem = "^0.1.1"
names = "^0.3.0"
python-forge = "^18.6.0"
opensearch-py = "^1.1.0"
cognitojwt = "^1.4.1"
shortuuid = "^1.0.9"
datamodel-code-generator = "^0.13.0"
fastapi-elasticsearch = "^0.5.3"
pika = "^1.3.0"
